@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Lato, sans-serif;
    font-size: 14px;
}

.header-area {
    display: flex;
    flex-direction: column;
}

.options-bar {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 60px;
    display: flex;
    gap: 12px;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0 12px;
    z-index: 101;
}

.pixel-dimensions {
    display: flex;
    gap: 8px;
    align-items: center;
}

